*{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    height: 40rem;
    margin: 5rem auto;
    background-color: aqua;
}
div{
    display: block;
}
#form-login{
    width: 360px;
    height: 100%;
    background-color: violet;
}